modules = ["php-8.2"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43000322
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:8080"

[[workflows.workflow]]
name = "Run Examples"
author = 43000322
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php examples.php"

[[workflows.workflow]]
name = "Check Wallet Balances"
author = 43064885
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php wallet-check.php"

[[workflows.workflow]]
name = "Check Wallet Details"
author = 43064885
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php wallet-info.php"

[[ports]]
localPort = 8080
externalPort = 3000

[deployment]
run = ["sh", "-c", "php -S 0.0.0.0:8080"]
